<html>
    <head>
        <title>wallet</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/jquery.jsonview.css" rel="stylesheet">
        <style media="screen">
          *{
            margin: 0;
            padding: 0;
          }
          pre{
            padding: 10px;
          }
          #cp{
            width: 90%;
            max-width: 960px;
            margin: 0 auto;
          }
          #qrcode{
            text-align: center;
          }
          canvas{
            margin: 0 auto;
          }
        </style>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.qrcode.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.jsonview.min.js"></script>
    </head>
    <body>
      <div id="cp">
        <h2><a href="/wallet">wallet</a></h2>




        <div class="panel panel-default">
          <div class="panel-heading" id="wallet_amount">00.000000</div>
          <div class="panel-body">
            <div class="form-group">
              <pre>{{address}}</pre>
              <div id="qrcode"></div>
              <ul id="address_list"></li>
            </div>
          </div>
        </div>



      </div>


        <script type="text/javascript">

        var address="{{address}}"

        function get_wallet_address_amount(){
          $.getJSON("/api/v2/balance/"+address,function(json){
            if(json.hasOwnProperty("objBalance")){
              if(json.objBalance.hasOwnProperty("bytes")){
                var mn=json.objBalance.bytes/1000000;
                $("#wallet_amount").text(mn+" MN");
              }
            }
            console.log(json);
          });
        }

        function get_address_info(){
          $.getJSON("/api/v2/info/"+address,function(json){
            if(json.hasOwnProperty("info")){
              if(json.info.hasOwnProperty("objBalance")){
                if(json.info.objBalance.hasOwnProperty("bytes")){
                  var mn=json.info.objBalance.bytes/1000000;
                  $("#wallet_amount").text(mn+" MN");
                }
              }
            }

            console.log(json);
          });
        }

        //get_wallet_address_amount();
        get_address_info();


        setInterval(function(){
          //get_wallet_address_amount();
          get_address_info();
        },3000);



        $('#qrcode').qrcode("{{address}}");
        </script>


    </body>
</html>
