<html>
<head>
  <title>Voting System base on TrustNote</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/jquery.jsonview.css" rel="stylesheet">
  <style media="screen">
  *{
    margin: 0;
    padding: 0;
  }
  pre{
    padding: 10px;
  }
  #cp{
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
  }
  canvas{
    width: 100%;
  }
  .qrcode{
    margin: 10px auto;
    width: 80px;
    height: 80px;
  }
  #address{
    text-align: center;
  }
  </style>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.qrcode.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.jsonview.min.js"></script>
</head>
<body>
  <div id="cp">
    <h2>Voting System base on TrustNote</h2>
    <div class="panel panel-default">
      <div class="panel-heading" id="name"></div>
      <div class="panel-body">
        <div class="form-group">
          <div id="select"></div>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" id="select_name" placeholder="input select_name for voting" value="">
        </div>
        <button class="btn btn-primary" type="button" id="add">add a select</button>
      </div>
    </div>
  </div>


  <script type="text/javascript">
  function get_select(){
    $.getJSON("/api/voting/{{index}}",function(json){
      console.log(json);
      $("#name").text(json.voting.name);


      $("#select").text("");
      for (var i in json.selectlist) {
        var select=json.selectlist[i];
        var address=select.address;
        var name=select.name;
        var li=$("<pre></pre>");
        var a=$("<a></a>");

        var p=$("<p></p>");
        p.text(address);

        var value=$("<p class='amount'>0</p>");
        value.attr("id",address);


        var img=$("<div class='qrcode' id='qrcode_"+i+"'></div>");

        a.text(name);
        li.append(a);
        li.append(value);

        li.append(img);
        li.append(p);

        $("#select").append(li);
      }
      for (var i in json.selectlist) {

        var address=select.address;

        $('#qrcode_'+i).qrcode(address);
      }

    });
  }

  $("#add").click(function(){
    var select_name = $("#select_name").val();
    $.post("/api/select/add",{name:select_name,voting_id:{{index}}},function(json){
      $("#select_name").val("");
      console.log(json)
      get_select();
    });
  });

  get_select();

  function get_amount(){
    $('.amount').each( function( index, val ) {

      var id=$(val).attr("id");

      console.log("/api/balance/"+id);
      $.getJSON("/api/balance/"+id,function(json){
        $("#"+id).text(json);
      });

    });

  }

  setInterval(function(){
    get_amount();
  },3000)
  </script>

  <!-- Modal -->
  <div class="modal fade" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="alert_title">Message</h4>
        </div>
        <div class="modal-body">
          <pre id="json"></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

</body>
</html>
